<header>
    <nav>
      <div class="container">
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/search.html' | relative_url }}">Chat about Sermons</a></li>
          <li><a href="{{ '/analytics.html' | relative_url }}">Analytics</a></li>
          <li class="ml-auto"><a href="{{ site.church_website }}" target="_blank">Church Website →</a></li>
        </ul>
      </div>
    </nav>
    
    {% if page.hero %}
    <div class="hero bg-light">
      <div class="container">
        <h1>{{ page.hero_title | default: page.title }}</h1>
        {% if page.hero_description %}
        <p class="hero-description">{{ page.hero_description }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </header>